<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5//EN" "http://www.w3.org/TR/html5/strict.dtd">
<html>

<center> <h1> <style>
.center {
  position: absolute; left: 530px; top: 50px;
    
}
  
</style>

<b><font color="white"></br>IPMS of UNA</font><b/> </h1>


<body style="background-color:#9966FF;">


<body>
		      

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <a href="t">
  <img src="http://s27.postimg.org/urqxz6bjn/daily.gif" alt="test.html" style="width:130px;height:200px;border:0; margin:20px;">
</a>

<a href="u">
  <img src="http://s10.postimg.org/49cugxs8p/instant.png" alt="test.html" style="width:130px;height:200px;border:0;margin:20px;">
</a>

<a href="v">
  <img src="http://s23.postimg.org/6xg61kpl7/semester.png" alt="test.html" style="width:130px;height:200px;border:0;margin:20px;">
</a></br>



<a href="x">
  <img src="http://s28.postimg.org/u1bjf46n1/parkingreserve1.png" style="width:300px;height:70px;border:0;margin:10px;">
</a>
<a href="y">
  <img src="http://s9.postimg.org/5678es8v3/parkingleave1.png" alt="test.html" style="width:300px;height:70px;border:0;margin:10px;">
</a>



              
          
            
           <h2><font color="white">Welcome to Intelligent Parking Reservation System of <i> University of North Alabama</font></h2></i>
            
  <h4> Choose your reservation system according to your need.If you are a student you can Choose daily basis parking or Instant basis parking, For UNA STAFF, Only semester basis parking is available. <i>[msayed@una.edu]<i/><h4>



        




</body></center>
 
</html>
