<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5//EN" "http://www.w3.org/TR/html5/strict.dtd">
<html><center> 
  <head>
    
  </head>
  <body> 
   
        <body style="background-color:#9966FF;">
        

       <br/><h1><font color="white">Intelligent Parking Reservation System(IPMS)</font></h1>
       <h2>Leave your parking spot permanently</h2><br/><br/>
       <form action="." method="post" enctype="application/x-www-form-urlencoded" Position: center>

          <tr><th><label for="id_yourid"><font size="6">Your ID:     </label></th><td><input id="id_yourstatus"  name="yourid" type="integer" input style="font-size:30px;" value='' /></td></tr>
          <br/><br/><tr><th><label for="id_yourpin"><font size="6">Your PIN:</label></th><td><input id="id_yourpin"  name="yourpin" type="text" input style="font-size:30px;" value='' /></td></tr>
                      
            <br/><br/><tr><th><label for="id_yourstatus"><font size="6">Your Status:</label></th><td><select id="id_yourstatus"  name="yourstatus" input style="font-size:30px;">
            <option value="ipms_drivers" selected="Student">Student</option>
            <option value="ipms_studentinstant">Student Instant</option>
            <option value="ipms_driversstaff">UNA Staff</option>

            </select></td></tr>
    
            <br/><br/> Click on the button <button type="submit"><font size="6">Leave My Spot</button>
            <br/><h1><font size="7">University of North Alabama(UNA)</h1>
        </form>



  </body></center>
</html>