<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 5//EN" "http://www.w3.org/TR/html4/strict.dtd">
            <html>
              <center><head>
                <style>
            
                
                  #map {
                    width: 500px;
                    height: 400px;
                    
                    border: 2px solid rgba(10, 0, 10, 3);
                            
                  }
                </style>
              </head>
              <body>

                   <form action="." method="post" enctype="application/x-www-form-urlencoded">
                      <tr><th><label for="id_yourid">Your ID:</label></th><td><input id="id_yourstatus" name="yourid" type="integer" value='' /></td></tr>
                       
                        <tr><th><label for="id_yourstatus">Your Status:</label></th><td><select id="id_yourstatus" name="yourstatus">
                        <option value="ipms_drivers" selected="Student">Student</option>
                        <option value="ipms_studentinstant">Student Instant</option>
                        <option value="ipms_driversstaff">UNA Staff</option>
            
                        </select></td></tr>
                
                        <button type="submit">Show My Parking Spot</button>
                    </form><br/>
            <td xcord='lat'>
            <td  ycord='lon'>
            
                <div id="map"></div>
                <script>
                  function initMap() {
                    var mapDiv = document.getElementById('map');
                    var map = new google.maps.Map(mapDiv, {
                      center: {lat: 34.8093458411, lng: -87.68106944},
                      mapTypeId:google.maps.MapTypeId.SATELLITE,
                      zoom: 20
                    });
            
                    var marker = new google.maps.Marker({
                      position: {lat: 34.8093458411, lng: -87.68106944},
                      map: map,
                      title: 'Hello World!'
                      
                    });
                   
                  }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
                    async defer></script>
            
            
                   <body style="background-color:#9966FF;">
            
                    
                    <style>
        .center2 {
          position: absolute; left: 260px; top: 530px;
         
            
        }
        
        </style>
        
        
                              <div class="w3-third"><div class="center2">                 
                  
                    
                    <h2>Your Id = 30. Parking No = 10. Spot No = 25 and parking Cost= 6.041 minutes at <i> UNA Main Campus </h2></i>
                    <h2>Intelligent parking reservation   system of <i> University of North Alabama</h2></i>
                    
            
              </body></center>
            </html>